$cWhite: white;
$cBlack: black;
$cYellowgreen:yellowgreen;
$cSkyblue:#3ccace;

.search-main{
  background-color: rgba(207, 250, 87, 0.473);
}

.search-wrapper-title{
  padding: 100px;
  text-align: center;
  & h2{
    font-size: 50px;
    color: $cBlack;
  }
}

.search-wrapper{
  display: flex;

  & .search-wrapper-left{
    width: 15vw;

    height: 90vh;
  }
  & .search-wrapper-right{
    width: 15vw;

    height: 90vh;
  }
  & .search-wrapper-main{
    width: 70vw;
  }
}


