<body class="login-display">
<div class='top-page-header'>

  <div class="logo">
    <div class="header-icon logo-icon">
      <%= link_to root_path do%>
        <div class="btn logo-btn">
          <span class="hovering">トップページ</span><span class="default">Seedeas</span>
        </div>
      <% end %>
    </div>


  </div>

</div>
</body>

