$cYellowgreen :Yellowgreen;

.login-display{
  & header{
    display: none;
  }
}

.top-page-header{
  width: 100vw;
  padding: 10px 10px;
  background-color: $cYellowgreen;
  & div{
    box-sizing: border-box;

  }


}

